item-pop-after-drag
  div.wrap-item
    p(onclick='{addSimple}').px12.pt8.pb7 Simple Message
    p(onclick='{addQuestion}').px12.pt8.pb7 Ask a Question

  style(scoped, type='less').
    :scope {
      display: none;
      position: absolute;
      left: 100px;
      top: 100px;
      background: #2196F3;
      border-radius: 3px;
      overflow: hidden;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      &.show-pop {
        display: block !important;
      }
      .wrap-item {
        p {
          cursor: pointer;
          color: #fff;
          text-align: center;
          font-weight: 300;
          letter-spacing: 0.6px;
          white-space: nowrap;
        }
        p:first-child{
          border-bottom: solid rgba(255,255,255,0.5) 0.5px;
        }
      }
    }

  script.

    var self = this;

    this.addSimple = function(){
      
      // 前のイベントのtopLineの座標を保存
      //targetEvent.gui.topLinePosition = {origin: arrowOrigin, to: arrowTo};

      // もし始点にすでにlineがあったらguiから削除する
      if(targetEvent.gui.topLineId){
        targetEvent.gui.topLineId
      }


      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      // この時のターゲットはsimpleMessageそのものではない。
      if(targetEvent.nodeType=='single'){
        targetEvent.gui.topLinePosition = {origin: from, to: to};
      }else if(targetEvent.nodeType=='group'){
        targetEvent.topLinePosition = {origin: from, to: to};
      }



      /*
      var event = getEventFromScenarioById(targetEvent.id);
      if(event.type=='normal'){
        event.gui.topLinePosition = {origin: from, to: to};
      }else if(event.type=='selection'){
        debugger
      }
      */

      //debugger
      //var preEvent = getEventFromScenarioByNext(targetEvent.id);
      //preEvent.gui.topLinePosition = {origin: arrowOrigin, to: arrowTo};

      // contentを作成
      var content = {
        id: 'simpleTmp' + scenarioArray.length,
        num: scenarioArray.length,
        type: 'normal',
        nodeType: 'single',
        text: 'This is My Message: '+scenarioArray.length,
        gui: {
          position: {},
        },
      };

      addSimpleMessage(arrowTo.x, arrowTo.y, content, false);


      // scenarioをupdateする
      saveScenario();


      // ポップを消去
      var pop = document.querySelector('item-pop-after-drag');
      pop.classList.remove('show-pop');

      console.log('after adding', scenarioArray);
    }

    this.addQuestion = function(){

      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      var event = getEventFromScenarioById(targetEvent.id);
      event.gui.topLinePosition = {origin: from, to: to};
      

      //var idRand = Math.floor(Math.random()*10000);
      var content = {
        id: 'selectionTmp' + scenarioArray.length,
        num: scenarioArray.length,
        type: 'selection',
        nodeType: 'group',
        text: 'What is your choice?' + scenarioArray.length,//+idRand,
        addedSelectionsCounter : 0,
        selections: [
          {label: 'Selection', id: `selectionTmp${scenarioArray.length}-selection0`},
        ],
        gui: {
          position: {},
        },
      };

      addSelections(arrowTo.x, arrowTo.y, content, false);

      // ポップを消去
      var pop = document.querySelector('item-pop-after-drag');
      pop.classList.remove('show-pop');


      saveScenario();

    }





