item-conversation-input-selection
  div.wrap-item.px8.py6.f.flex-wrap
    div(each='{item in selections}').wrap-selection-bubble.mr6.mb6
      p(data-next='{item.next}' onclick='{clickBubble}').selection-bubble.px12.pt4.pb6.f.fh {item.label}

  style(scoped, type='less').
    :scope {
      width: 100%;
      .wrap-item {
        width: 100%;
        max-height: 120px;
        overflow: scroll;
        .wrap-selection-bubble {
          .selection-bubble {
            background: #1976d2;
            color: #fff;
            border-radius: 3px;
            font-weight: lighter;
            cursor: pointer;
          }
        }
      }
    }


  script.

    var self = this;

    this.content = opts.__proto__.content;
    this.selections = this.content.selections;

    this.clickBubble = function(e){
      var next = e.target.dataset.next;
      var isMine = true;
      addMessageToConversationByEvent({
        text: e.target.innerText,
      }, isMine);
      fireEventOfConversation(next);
    }
