item-message(onclick='{click}' onmouseover='{over}' onmouseout='{out}' id='{id}' data-id='{id}').node
  div.wrap-node
    div.wrap-node-content.f.fm.flex-between
      p.text.line-clamp-1.pl12.pr8.pt8.pb7 
      div(onmousedown='{down}').wrap-drag-button.pr8.f.fm
        div.drag-button
  div.wrap-num
    p {num}
  div.wrap-icon.f.fh
    atom-delete-node(id='{id}')


  style(scoped, type='less').
    :scope {
      position: absolute;
      display: inline-block;
      transition: transform 0.2s;
      cursor: grab;

      .wrap-node {
        border: solid #2196F3 0.5px;
        border-radius: 3px;
        overflow: hidden;
        
        /*filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));*/

        /*box-shadow: 1px 1px 4px rgba(0,0,0,0.4);*/

        transform: scale(1);
        .wrap-node-content {
          position: relative;
          overflow: visible;
          background: #fff;
          p {
            /*white-space: nowrap;*/
            display: inline-block;
            color: #2196F3;
            letter-spacing: 0.6px;
            font-weight: 300;
            width: 100%;
            max-width: 180px;
          }
          .wrap-drag-button {
            cursor: pointer;
            height: 34px;
            .drag-button {
              background: #2196F3;
              width: 16px;
              height: 16px;
              border-radius: 50%;
            }
          }
        }

      } /*wrap-node*/

      &.drag {
        cursor: grabbing !important;
      }
      &.active-over {
        transform: scale(1.05) !important;
      }

      &.focused-node {
        .wrap-node {
          border: solid #FF4081 2px !important;
          box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
        }
      }

      .wrap-num {
        position: absolute;
        left: 4px;
        top: -20px;
        p {
          font-size: 14px;
          text-align: center;
          color: #2196F3;
        }
      }

      .wrap-icon {
        position: absolute;
        right: 0px;
        top: -20px;
        cursor: pointer;
        display: none;
      }
      &.focused-node {
        .wrap-icon {
          display: block;
        }
      }

      &.is-go-to-node {
        .wrap-node {
          border: none;
          .wrap-node-content {
            background: #FF5722;
            p {
              color: #fff;
            }
            .wrap-drag-button {
              display: none;
            }
          }
        }
      }
    }

  script.

    var self = this;
    this.id = this.opts.content.id;
    this.text = this.opts.content.text;
    this.num = this.opts.content.num;

    this.down = mdownOnLineStart;

    this.click = clickOnNode;
    this.over = moverTemplate;
    this.out = moutTemplate;
    

    this.on('mount', function(){
      //self.drag = dragArrow;
      /*
      self.drag = function(e){
        e.stopPropagation();
        console.log(e);
      }
      */

      // self.textを直接バインドすると改行が反映されないのでdomから操作する
      var node = document.getElementById(self.id);
      var nodeText = node.getElementsByClassName('text')[0];
      nodeText.innerText = self.text;

    });