item-pop-after-drag
  div.wrap-item
    p(onclick='{addSimple}').px12.pt8.pb7 Simple Message
    p(onclick='{addQuestion}').px12.pt8.pb7 Ask a Question

  style(scoped, type='less').
    :scope {
      display: none;
      position: absolute;
      left: 100px;
      top: 100px;
      background: #1976d2;
      border-radius: 3px;
      overflow: hidden;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
      &.show-pop {
        display: block !important;
      }
      .wrap-item {
        p {
          cursor: pointer;
          color: #fff;
          text-align: center;
          font-weight: 300;
          letter-spacing: 0.6px;
          white-space: nowrap;
        }
        p:first-child{
          border-bottom: solid rgba(255,255,255,0.5) 0.5px;
        }
      }
    }

  script.

    var self = this;

    this.addSimple = function(){
      
      // 前のイベントのtopLineの座標を保存
      //targetEvent.gui.topLinePosition = {origin: arrowOrigin, to: arrowTo};

      // もし始点にすでにlineがあったらguiから削除する
      if(targetEvent.gui.topLineId){
        targetEvent.gui.topLineId
      }


      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      // この時のターゲットはsimpleMessageそのものではない。
      if(targetEvent.type=='normal'){
        targetEvent.gui.topLinePosition = {origin: from, to: to};
      }else if(targetEvent.type=='selection'){
        targetEvent.topLinePosition = {origin: from, to: to};
      }
      

      /*
      var event = getEventFromScenarioById(targetEvent.id);
      if(event.type=='normal'){
        event.gui.topLinePosition = {origin: from, to: to};
      }else if(event.type=='selection'){
        debugger
      }
      */

      //debugger
      //var preEvent = getEventFromScenarioByNext(targetEvent.id);
      //preEvent.gui.topLinePosition = {origin: arrowOrigin, to: arrowTo};

      // contentを作成
      var content = {
        id: 'simple-tmp' + scenarioJson.length,
        num: scenarioJson.length,
        type: 'normal',
        text: 'This is My Message: '+scenarioJson.length,
        gui: {
          position: {},
        },
      };

      addSimpleMessage(arrowTo.x, arrowTo.y, content, false);

      console.log('before adding', scenarioJson);

      // scenarioをupdateする
      $('#wrapSaving').fadeIn(400);
      service.db.collection('projects').doc(opts.id)
        .update({'scenario': scenarioJson})
        .then(function(){
          $('#wrapSaving').fadeOut(400);
        });



      // ポップを消去
      var pop = document.querySelector('item-pop-after-drag');
      pop.classList.remove('show-pop');

      console.log('after adding', scenarioJson);
    }

    this.addQuestion = function(){

      var from = {x: arrowOrigin.x, y: arrowOrigin.y};
      var to = {x: arrowTo.x, y: arrowTo.y};

      var event = getEventFromScenarioById(targetEvent.id);
      event.gui.topLinePosition = {origin: from, to: to};
      

      var idRand = Math.floor(Math.random()*10000);
      var content = {
        id: 'selection-tmp' + idRand,
        num: scenarioJson.length,
        type: 'selection',
        text: 'How are you?: '+idRand,
        selections: [
          {label: 'I am so fine', id: 'selection' + Math.floor(Math.random()*10000)},
          {label:'Not good', id: 'selection' + Math.floor(Math.random()*10000)},
          {label:'I am too sleepy', id: 'selection' + Math.floor(Math.random()*10000)},
          {label:'Others', id: 'selection' + Math.floor(Math.random()*10000)}
        ],
        gui: {
          position: {},
        },
      };

      addSelections(arrowTo.x, arrowTo.y, content, false);

      // ポップを消去
      var pop = document.querySelector('item-pop-after-drag');
      pop.classList.remove('show-pop');


      $('#wrapSaving').fadeIn(400);
      service.db.collection('projects').doc(opts.id)
        .update({'scenario': scenarioJson})
        .then(function(){
          $('#wrapSaving').fadeOut(400);
        });

    }





