page-about
  div.warp-page
    h2 About

  style(scoped, type='less').
    :scope {
      .warp-page {
        display: block;
        width: 100%;
        height: 100%;
        background: #FF00FF;
      }
    }

  script.

    this.on('mount', function(){

    });
    