page-canvas
  div.wrap-page.f
    inspector
    module-canvas(id='{scenarioId}')
  div.wrap-preview
    div.wrap-conversation-preview
      a(style='opacity: 0; position: fixed; z-index: -1;').js-copytext {urlToCopy}
      div.preview-header.f.fm.flex-right
        div(onclick='{copy.bind(this, urlToCopy)}').icon.f.fm.mr6
          img(src='./img/icon/share.svg')
        div(onclick='{reloadPreview}').icon.f.fm.mr6
          img(src='./img/icon/reload.svg')
        div(onclick='{togglePreview}').icon.f.fm.mr6
          img(src='./img/icon/close.svg')

      wrapper-module-conversation
      //module-conversation(id='{scenarioId}')
    atom-float-action-preview(id='{scenarioId}')


  style(scoped, type='less').
    :scope {
      .wrap-page {
        width: 1000%;
        height: 100%;
        background: #fff;
        position: relative;
        inspector {
          width: 100%;
          max-width: 280px;
          height: 100%;
          background: #fff;
          overflow: scroll;
          filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.2));
        }
      }

      .wrap-preview {
        .wrap-conversation-preview {
          display: none;
          position: fixed;
          z-index: 12;
          right: 16px;
          bottom: 16px;
          width: 300px;
          height: 440px;
          background: #FFF;
          border-radius: 3px;
          overflow: hidden;
          filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.2));
          .preview-header {
            width: 100%;
            height: 26px;
            background: #2196F3;
            .icon {
              cursor: pointer;
              width: 18px;
            }
          }
        }
      }
    }

  script.

    var self = this;
    this.scenarioId = opts.__proto__.id;

    this.togglePreview = function(){
      $('atom-float-action-preview').fadeIn(200);
      $('.wrap-conversation-preview').fadeOut(200);
    }

    this.reloadPreview = function(){
      initConversation(`first-${self.scenarioId}`);
    }

    this.urlToCopy = `${location.host}/#conversation/${this.scenarioId}`;

    /*
    this.copyLink = function(){
      self.copy(self.urlToCopy);
    }
    */

    this.copy = function(url){
      console.log('copy this:', url);
      var element = document.querySelector('.js-copytext');
      var range = document.createRange();
      range.selectNode(element);

      var selection = getSelection();
      selection.removeAllRanges();
      selection.addRange(range);

      document.execCommand('copy');

      selection.removeAllRanges();

      alert('コピーしました。');
    }


    this.on('mount', function(){

    });

