page-canvas
  div.wrap-page.f
    inspector
    module-canvas(id='{scenarioId}')


  style(scoped, type='less').
    :scope {
      .wrap-page {
        width: 1000%;
        height: 100%;
        background: #fff;
        position: relative;
        inspector {
          width: 100%;
          max-width: 280px;
          height: 100%;
          background: #fff;
          overflow: scroll;
          filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.2));
        }
      }
    }

  script.

    var self = this;
    this.scenarioId = opts.__proto__.id;

    this.on('mount', function(){

    });
