page-canvas
  div.wrap-page.f
    inspector
    module-canvas(id='{scenarioId}')
  div.wrap-preview
    div.wrap-conversation-preview
      div.preview-header.f.fm.flex-right
        div(onclick='{reloadPreview}').close-icon.f.fm.mr6
          img(src='./img/icon/reload.svg')
        div(onclick='{togglePreview}').close-icon.f.fm.mr6
          img(src='./img/icon/close.svg')
      wrapper-module-conversation
      //module-conversation(id='{scenarioId}')
    atom-float-action-preview(id='{scenarioId}')


  style(scoped, type='less').
    :scope {
      .wrap-page {
        width: 1000%;
        height: 100%;
        background: #fff;
        position: relative;
        inspector {
          width: 100%;
          max-width: 280px;
          height: 100%;
          background: #fff;
          overflow: scroll;
          filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.2));
        }
      }

      .wrap-preview {
        .wrap-conversation-preview {
          display: none;
          position: fixed;
          z-index: 12;
          right: 16px;
          bottom: 16px;
          width: 300px;
          height: 440px;
          background: #FFF;
          border-radius: 3px;
          overflow: hidden;
          filter: drop-shadow(2px 1px 1px rgba(0,0,0,0.2));
          .preview-header {
            width: 100%;
            height: 26px;
            background: #2196F3;
            .close-icon {
              cursor: pointer;
              width: 18px;
            }
          }
        }
      }
    }

  script.

    var self = this;
    this.scenarioId = opts.__proto__.id;

    this.togglePreview = function(){
      $('atom-float-action-preview').fadeIn(200);
      $('.wrap-conversation-preview').fadeOut(200);
    }

    this.reloadPreview = function(){
      initConversation(`first-${self.scenarioId}`);
    }

    this.on('mount', function(){

    });
