util-header
   

  style(scoped, type='less').
    :scope {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 48px;
      background: #f8f8f8;
    }

  script.

    var self = this;

    this.on('mount', function(){

    });