util-header
  div(if="{status == 'canvas'}").wrap-util.f.fm.flex-between
    div
    //div.icon-export.f.fh
      img(onclick='{export}' src='./img/icon/export2.svg')
      a(style='display: none;' href='#')#downloader
    div.icon.f.fh
      img(onclick='{copy.bind(this, riot.urlToCopy)}' src='./img/icon/share2.svg')
      a(style='opacity: 0; position: fixed; z-index: -1;').js-copytext-header {urlToCopy}

  div(if="{status == 'conversation'}").wrap-util.f.fm.flex-between
    div
    div
    div.wrap-label.f.fh
      p {label}

  style(scoped, type='less').
    :scope {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 48px;
      /*background: #2196F3;
      filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));*/
      border-bottom: solid .6px rgba(0,0,0,0.2);
      background: #f8f8f8;
      .wrap-util {
        position: relative;
        width: 100%;
        height: 100%;
        .icon-export {
          width: 48px;
          img {
            width: 24px;
            cursor: pointer;
          }
        }

        .icon {
          width: 48px;
          img {
            width: 24px;
            cursor: pointer;
          }
        }

        .wrap-label {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }

  script.

    var self = this;

    this.status = opts.__proto__.status;
    
    this.on('mount', function(){

    });

    this.export = exportCsv;

    if(this.status=='conversation'){
      if(riot.currentProject) this.label = riot.currentProject.userName;
    }


    //this.urlToCopy = this.urlToCopy;
    //this.copy = riot.copyUrl;

    
    this.copy = function(url){
      console.log('copy this:', url);
      mixpanel.track('bot url was copied from header');

      var element = document.querySelector('.js-copytext-header');
      element.innerText = url;
      var range = document.createRange();
      range.selectNode(element);

      var selection = getSelection();
      selection.removeAllRanges();
      selection.addRange(range);

      document.execCommand('copy');

      selection.removeAllRanges();

      alert('botのリンクをコピーしました。');
    }
    
