util-header
  div(if="{status == 'canvas'}").wrap-util.f.fm.flex-between
    div
    div.icon-export.f.fh
      img(onclick='{export}' src='./img/icon/export.svg')
      a(style='display: none;' href='#')#downloader

  style(scoped, type='less').
    :scope {
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 48px;
      background: #2196F3;
      filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.4));
      .wrap-util {
        width: 100%;
        height: 100%;
        .icon-export {
          width: 48px;
          img {
            width: 24px;
            cursor: pointer;
          }
        }
      }
    }

  script.

    var self = this;

    this.status = opts.__proto__.status;
    
    this.on('mount', function(){

    });


    this.export = exportCsv;






