module-canvas#canvas
  svg#canvasSvg
    line#lineForPreview
  item-pop-after-drag
  //item-selection

  style(scoped, type='less').
    :scope {
      position: relative;
      display: block;
      overflow: scroll;
      width: 1000%;
      height: 1000%;
      #canvasSvg {
        pointer-events: none;
        position: relative;
        width: 1000%;
        height: 1000%;
        left: 0;
        top: 0;
        z-index: 11;
        line {
          position: relative;
          z-index: 11;
          pointer-events: auto;
        }
        #lineForPreview {
          display: none;
        }
        .show {
          display: block !important;
        }
      }
    }

  script.

    var self = this;

    this.on('mount', function(){

    });
    
    this.loadScenario = async ()=>{

      self.project = await service.db.collection("projects")
        .doc(opts.id)
        .get()
        .then(function(data) {
          return data.data();
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });

      var firstEventName = `first-${self.project.title}`;
      scenarioJson = self.project.scenario;
      initCanvas(firstEventName);
    }

    $('#loading').fadeIn(400);
    riot.loadScenarioTimer = setInterval(function(){
      if(session.user){
        clearInterval(riot.loadScenarioTimer);
        self.loadScenario();
      }
    }, 800);

    
    service.db.collection("projects").doc(opts.id)
      .onSnapshot(function(doc) {
          console.log("Current data: ", doc.data());
      });