module-modal-create-project
  div.wrap-module.px14.py16
    p.title.mb12 Create a New Project
    div.f
      textarea(placeholder="Project Name")#projectTitleInput.pt3.pb4.px4.mr6
      p(onclick='{createProject}').wrap-button.px10.py8 Create

  style(scoped, type='less').
    :scope {
      display: block;
      background: #FFF;
      .wrap-module {
        .title {
          font-size: 16px;
          font-weight: 400;
        }
        textarea {
          border: solid rgba(0,0,0,0.4) 0.5px;
          border-radius: 3px;
          width: 100%;
          height: 28px;
          outline: none;
          resize: none;
          letter-spacing: 0.6px;
        }
        .wrap-button {
          cursor: pointer;
          text-align: center;
          background: #2196F3;
          color: #fff;
          letter-spacing: 0.6px;
          font-size: 12px;
          font-weight: 400;
          border-radius: 3px;
        }
      }
    }

  script.

    var self = this;

    this.on('mount', function(){
      $('modal-window-content').addClass('show');

      $(document).on("custom:closeModal", function() {
        $('module-modal-create-project').removeClass('show');
        self.unmount(true);
      });
    });

    this.createProject = async ()=>{
      // タイトルがなければreturn
      var input = document.querySelector('#projectTitleInput');
      var projectTitle = input.value;
      if(input.value == '') return;

      // プロジェクトを作成      
      var projectObj = {
        author: session.user.uid,
        title: projectTitle,
        createdAt: new Date(),
        editedAt: new Date(),
      };

      var id = await service.db.collection("projects")
        .add(projectObj)
        .then(function(data) {
          var id = data.id
          return id;
        })
        .catch(function(error) {
          console.error("Error writing document: ", error);
        });

      // はじめのイベントを追加してシナリオの初期化
      await service.db.collection("projects").doc(id)
        .update({'scenario': [
            {
              id: `first-${id}`,
              type: 'normal',
              nodeType: 'single',
              text: 'Hello',
              num: 0,
              gui: {
                position: {x: 150, y: 100000/2}
              }
            },
          ]
        });

      window.location.href = `./#projects/${id}`;

      // modalを閉じてunmountする
      session.isNewProject = true;
      $('util-modal').fadeOut(400);
      $('modal-window-content').removeClass('show');
      $(document).trigger("custom:closeModal");
    }